@charset "UTF-8";

* { font-family: Arial, Helvetica, sans-serif ;


}

body {
    background-image: linear-gradient(to right, #F2B705,    #F29F05);
    background-attachment: fixed;
}

p {
    text-allign: justify;
}

main {
    background-color: #FFFFFF;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #a14d04c5;
}

h1 {
    color: #D96704;
    text-align:center;
    text-shadow: 1px 1px 0px #a54e02e3
}

h2 {
    color: #F2CB05
}